$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 500px)";
$mobile: "(max-width: 475px)";
$color: #f3f3f3;
$color_1: #ffffff;
$color_2: #121212;

@media #{$desktop} {
    .input-field {
      padding: 1.25rem .75rem;
      margin: 0.5rem;
      font-size: 1rem;
      color: $color_2;
      border-color: $color_2;
      border-radius: 3px;
      transition: all 750ms;


      &:focus {
        border-color: rgba($color_2, 0.2);
        transition: all 750ms;
      }
    }
  }