$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width: 475px)";
$color: #f3f3f3;
$color_1: #ffffff;
$color_2: #121212;

.product-detail {
  border-radius: 10px;

  &__img {
    width: 100%;

    object-fit: cover;
    border-radius: 10px;
  }
  &__content {
    background-color: $color_1;
    border-radius: 10px;

    &--title {
      font-weight: 500;
      font-size: 1.3rem;
      margin-bottom: 1rem;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &--text {
      font-size: 1rem;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &--price {
      margin: 0 0.25rem;
      font-size: 1rem;
      color: rgba($color_2, 0.7);

      &.discount {
        font-size: 0.9rem;
        text-decoration: line-through;
      }
    }

    &--btn {
      margin: 1.5rem 0;
      padding: 0.5rem 2rem;
      border: 1px solid $color_2;
      border-radius: 5px;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: $color_1;
        background-color: rgba($color_2, 0.8);
        transition: all 0.45s ease 0s;
      }
    }

    &--description {
      font-size: 1rem;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
    }
  }
}

@media #{$mobile} {
  .product-detail {
    margin-top: 2rem;
    padding: 0 !important;

    &__img {
      height: 20rem;
    }
    &__content {
      padding: 1rem 0.5rem;
    }
  }
}

@media #{$desktop} {
  .product-detail {
    margin: 1rem;
    padding: 2rem;
    background-color: $color;

    &__img {
      height: 35vw;
    }

    &__content {
      height: 100%;
      padding: 3rem;
    }
  }
}

@media #{$tablet} {
  .product-detail {
    margin: 1rem;
    padding: 2rem;
    background-color: $color;

    &__img {
      height: 35vw;
    }

    &__content {
      height: 100%;
      padding: 2rem 1rem;
    }
  }
}
