$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 500px)";
$mobile: "(max-width: 475px)";
$color: #f3f3f3;
$color_1: #ffffff;
$color_2: #121212;

@media #{$mobile} {
  .filter {
    padding: 0 0.5rem;
    margin: 5rem 0 0 0;

    &__title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    &__list {
      padding: 0.5rem;

      &--title {
        font-size: .9rem;
        margin: 0 1rem;
      }

      &--item {
        margin: 0.3rem;
        padding: 0.3rem 1.75rem;
        color: $color_2;
        border-radius: 10px;
        border: 1px solid $color_2;
        font-size: .8rem;

        &:hover,
        &:focus,
        &:active {
          color: $color_2;
          border-color: $color;
          background-color: $color;
          text-decoration: none;
          transition: all 0.45s ease 0s;
        }
      }
    }
  }
}

@media #{$tablet} {
  .filter {
    padding: 0 0.5rem;
    margin: 0;

    &__title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    &__list {
      padding: 0.5rem;

      &--title {
        font-size: .9rem;
        margin: 0 1rem;
      }

      &--item {
        margin: 0.3rem;
        padding: 0.3rem 1.75rem;
        color: $color_2;
        border-radius: 10px;
        border: 1px solid $color_2;
        font-size: .8rem;

        &:hover,
        &:focus,
        &:active {
          color: $color_2;
          border-color: $color;
          background-color: $color;
          text-decoration: none;
          transition: all 0.45s ease 0s;
        }
      }
    }
  }
}
