$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width: 475px)";
$color: #f3f3f3;
$color_1: #ffffff;
$color_2: #121212;

// Desktop
.header {
  font-size: 1.1rem;
  margin: 2rem 0;
  
  @media #{$mobile} {
    &__top {
      position: fixed;
      display: flex;
      height: 4rem;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;

      background-color: $color;

      &--item {
        font-size: 1.25rem;
        color: $color_2;
        text-align: center;
      }
    }

    &__bottom {
      position: fixed;
      height: 4rem;
      width: 100vw;
      bottom: 0;
      z-index: 1;

      background-color: $color;

      &--item {
        display: block;
        width: 19%;
        text-align: center;
        color: rgba($color_2, 0.5);
        text-align: center;
        font-size: 1.25rem;

        &.active {
          color: $color_2;
          width: 24%;
          transform: scale(1.3, 1.3);
        }
      }
    }
  }
}
