$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width: 475px)";
$color: #f3f3f3;
$color_1: #ffffff;
$color_2: #121212;

.form-control {
  box-shadow: none !important;
}

.dropdown-menu.show {
  top: 5px !important;
}

.dropdown-item {
  font-size: 0.7rem;
}

// Desktop

@media #{$mobile} {
  .header {
    display: none;
    background-color: $color;

    &.mobile {
      display: flex;
    }
    &__top {
      position: fixed;
      height: 4rem;
      top: 0;
      left: 0;
      right: 0;
      z-index: 16;

      background-color: $color;

      &--item {
        font-size: 1.25rem;
        color: $color_2;
        text-align: center;
      }
    }

    &__bottom {
      position: fixed;
      height: 4rem;
      margin: 0 !important;
      width: 100vw;
      bottom: 0;
      z-index: 1;

      background-color: $color;

      &--item {
        display: block;
        width: 19%;
        text-align: center;
        color: rgba($color_2, 0.5);
        text-align: center;
        font-size: 1.25rem;

        &.active {
          color: $color_2;
          width: 24%;
          transform: scale(1.3, 1.3);
        }
      }
    }
  }
}

@media #{$desktop} {
  .header {
    display: none;
    
    &.desktop {
      display: flex;
      height: 10vh;
      margin-bottom: 2rem;
    }

    &__background {
      position: fixed;
      top: 0;
      padding: .75rem;
      background-color: $color_1;
      border: 1px solid $color;
    }
    &__left {
      &--item {
        font-size: 0.8rem;
        display: inline-block;
        width: 20%;
        margin: 0 0.25rem;
        padding-bottom: 0.25rem;
        text-align: center;
        // border-bottom: 1px solid transparent;
        color: $color_2;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          transition: all 750ms;
          border-bottom: 1px solid $color_2;
          color: $color_2;
        }

        &.active {
          text-decoration: none;
          border-bottom: 1px solid $color_2;
          color: $color_2;
        }
      }

      &--search {
        margin: 0 1.5rem;
        width: 15rem;
        font-size: 0.8rem;
        height: 1rem;
      }
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &__right {
      &--item {
        font-size: 1.2rem;
        color: $color_2;
        margin: 0 1.5rem;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        border-bottom: 1px solid transparent;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          transition: all 750ms;
          border-bottom: 1px solid $color_2;
          color: $color_2;
        }
      }
    }
  }
}
